.idea
.git
screenshots
audio
/.venv/

__pycache__/
config/.env

migrations/*

*.pem
/browsers/
client/build/
client/dist/
client/client.spec
/logs/
/keyloggers/
/clipboards/
/download_files/
/phishing/
